<mat-toolbar>
  <mat-icon>psychology</mat-icon>
  <span>Bitcora</span>
  <span *ngFor="let sectionOption of this.sections">
    <button *ngIf="sectionOption === this.section; else sectionNotSelected" mat-raised-button color="primary" (click)="changeSection(sectionOption)">
      {{sectionOption}}
    </button>
    <ng-template #sectionNotSelected>
        <button mat-button color="primary" (click)="changeSection(sectionOption)">{{sectionOption}}</button>
    </ng-template>
  </span>
</mat-toolbar>
<app-todo-screen *ngIf="this.section === 'ToDo'"></app-todo-screen>
<app-payments *ngIf="this.section === 'Payments'"></app-payments>
